body {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    width: 100%;
}

/* common css start */
.margin-top-70 {
    margin-top:70px;
}
.section-head h3{
    font-size: 20px;
    color: black;
    font-family: 'Yaldevi', sans-serif;
    font-weight: 400;
}
.font-bold{
    font-style: bold!important;
    font-weight: 700;
}
.p-2 {
    padding: 0 .5rem!important;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8;
}
/* common css end*/
/* Header top Part start*/
.header-top {
    background-color: #3e3e40;
}
.head-top-links a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px!important;
}
.head-top-links a:hover{
    text-decoration: none!important;
    background-color:#3695d8;
    color: #fff;
    transition: all linear .3s;
    border-color: #3695d8!important;
}
.header-menu img {
    width: 150px !important;
    margin-left: 33px !important;
}
.bg-custom{
        background-color: rgb(167, 166, 166);
}
/* Header top Part end */
/* Header Menu */
.head-top{
    padding: 10px;
    background-color: rgb(92, 91, 91) !important;
}
.header-menu img {
    margin-left: 0 !important; 
}
.header-menu a {
     padding: 0px 15px; 
}
.header-menu a {
    padding: 0px 15px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
} 
.slider-bottom{
    background-color:#515153;
}
.bg-black {
    background-color: #000 !important;
}
.single-item .tag p{
    font-size:8px!important;
}
.artist div{
    padding: 0px 10px;
}
 
.footer p, a{ 
    font-size:10px!important;
}
.navbar{
  /* margin-top: 15px;
  margin-bottom: 15px; */
}
.nav-item a{
    font-size: 12px!important;
    line-height: 24px;
    color: black !important;
    transition: all linear .3s;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
    border-right: 1px solid red;
}
.last{
    border-right: none!important;
}
.nav-item-drop a{
    font-size: 20px!important;
    line-height: 24px;
    color: #fff !important;
    transition: all linear .3s;
    position: relative;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
}
.nav-item-drop:hover a{
    color: #000!important;
}
.dropdown-menu a{
    color: #000!important;
}
.nav-item a::before{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    bottom: -4px;
    left: 0%;
    transition: all linear .3s;
}
.nav-item a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color:#fff;
    bottom: -1px;
    left: 0;
    transition: all linear .3s;
}
.nav-item-icon a{
    font-size: 16px!important;
    color: #ffffff!important;
    transition: all linear .1s;
    position: relative;
}
.nav-item-icon a::after{
    content: '';
    background-color: #D5DAE5;
    position: absolute;
    bottom: -5px;
    left: 40%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
}
.nav-item-icon a:hover::after{
    visibility: visible;
    opacity: 1;
}
.nav-item-icon:hover a{
    font-size: 18px!important;
    padding-top: 5px;
    color: #3695d8!important;
}
.nav-item a:hover::before{
    width: 50%;
}
.nav-item a:hover::after{
    width: 95%;
}

.nav-item:hover a{
    color: black!important;
    padding-left: 10px!important;
}
.header-menu{
    position: relative;
}
.nav-right::after {
    content: '';
    position: absolute;
    border-bottom: 9px solid #950606;
    border-left: 7px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    top: -7px;
    right: 70px;
    transform: rotate(9px, 15px);
    transform: rotate(139deg);
}
.nav-right::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 70px;
    background-color: rgb(243, 24, 24);
    top: -11px;
    right: 0;
}
/* banner slider start */
.banner{
    position: relative;
    background-color: #000;
    padding-bottom: 5px;
    padding-top: 5px;
}
.banner-btm{
    background-color:rgb(109, 107, 107);
    padding-top: 10px;
    color: black;
}
.banner-arrow-left{
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 25px;
    padding: 0 12px;
    border-radius: 50%;
    color: #fff;
    transition: all linear .3s;
     background-color:rgba(17, 17, 17, 0.726);
}
.banner-arrow-left:hover{
    cursor: pointer;   
}
.banner-arrow-right{
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 25px;
    padding: 0 12px;
    border-radius: 50%;
    color: #ffff;
    transition: all linear .3s;
     background-color:rgba(17, 17, 17, 0.726);
}
.banner-arrow-right:hover{
    cursor: pointer;
}
.banner-btm-txt h6{
    font-size: 14px;
    font-weight: 600;
}
/* banner slider end */

/* cart start */
.cart-head-main{
    padding-bottom: 21px;
}
.cart-head{
    text-align: center;
    padding-top: 42px;
}
.cart-head h4{
    color: #3695d8;
    font-size: 18px;
    margin: 0 6px;
    padding-right: 6px;
    font-weight: 700;
}
.br{
    border-right: 3px solid #3695d8;
}
.cart-sub-head h6{
    padding-right: 6px;
    margin: 0 6px;
    font-size: 14px;
}
.br-2{
    border-right: 1px solid #000;
}
.cart-sub-head{
    padding-bottom: 40px;
}
.cart-item-head h4{
    font-weight: 400;
    font-size: 16px;
}
.cart-quan h5{
    margin: 0 5px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    background-color: none;
    border: 1px solid #2222;
    padding: 1px 4px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.btn-secondary {
    background-color: #ffffff;
    border-color: #222;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #212529;
    background-color: #fff;
    border: none;
}
.buy-btn{
    padding-top: 14px;
}
.buy-btn a{
    padding: 16px 30px;
    background-color: #3695d8;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}
.bb{
    border-bottom: 1px solid #D5DAE5;
    padding-bottom: 42px;
}
/* cart end */
/* profile start */
.profile-head h2{
    color: #3695d8;
}
/* profile end */

/* Featured event start */
.card-stat{
    border: 1px solid #222;
}
.feat-card-head{
    color: #222!important;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Yaldevi', sans-serif;
    line-height: 1.5;
}

.feat-card-link{ 
    font-size: 11px!important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color:red;
}
.feat-card-link i{
    color: red;
}
.divider{
    border-right: 3px solid red;
}
.feat-card-sub{
    font-size: 12px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.feat-card-sub-am{
    font-size: 12px;
    font-weight: 600;
    font-family: 'Yaldevi', sans-serif;
    padding: 10px 0;
    color: red;
}
.tag-type{ 
    background-color: red;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}
.type p{
    margin: 0rem!important;
    padding-bottom: 5px;
}
.tag-stat{
    background-color:rgb(105, 105, 105);
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-style: 16px;
}
.card-btn a{ 
    font-size: 12px!important;
    text-decoration: none;
    color: #222;
}
.mid-img img{
    height: 265px!important;
}
/* Featured event end */

/* footer start */
.footer{
    background-color: #212529;
    padding-bottom: 60px;
}
.footer-descrip{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-head{
    color: #3695d8;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.footer-bottom{
    background-color: #000;
}
.copyright-txt{
    color: #fff;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}
.links a{ 
    padding-right: 5px;
}
/* footer end */
/* artist start */
.artist-img a img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.img-description h4{
    font-size: 12px;
    text-align: center;
    color: #031e31;
    padding: 5px 0;
    font-family: 'Raleway', sans-serif;
    background-color: #3695d8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
}
/* artist end */
/* image-modal start */

/* image-modal end */
/* Blog Page Css */
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* basic css end */
/* blog css start */
.blog-item-main{
    border-bottom: 1px solid rgba(114, 113, 113, 0.363);
}
.blog-image img{
    max-height: 225px!important;
}
.blog-title a{
    font-size: 52px;
    color: #3695d8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.blog-title a:hover{
    text-decoration: none;
    color: #3695d8;
}
.blog-desc p{
    padding-right: 5px;
}
.bold{
    font-weight: 700;
    color: #222;
}
.blog-creator a{
    color: #3695d8;
}
.blog-creator:hover a{
    text-decoration: none;
}
/* blog css end */
/* blog-details css start */
.main-blog-extra{
    padding: 10px;
    border: 1px solid rgb(124, 123, 123);
    border-radius: 5px;
}
.rel-blog-img{
    padding: 0!important;
}
.rel-blog-head h3{
    color: #222;
    font-size: 18px;
}
.rel-blog-txt {
    padding: 0!important;
}
.rel-blog-txt h5{
    font-size: 12px;
}
.blog-detail-desc-head h3{
    color: #222;
    font-size: 24px;
    font-weight: 700;
}
.blog-detail-subhead{
    background-color: #f1f1f1;
    border-radius: 2px;
}
.blog-extra-2{
    max-width: 100%!important;
    padding: 0!important;
}
/* blog-details css end */
/* artist detail start */
.artist-img-fixed{
    max-width: 300px; 
    margin: 0 10px;
}
.artist-img{
    position: relative;
}
.artist-arrow-left{
    position: absolute;
    top: 5%;
    left: 20px;
    font-size: 25px;
    padding: 0 12px;
    border-radius: 50%;
    color: #fff;
    transition: all linear .3s;
    background-color:rgba(17, 17, 17, 0.726);
}
.artist-arrow-left:hover{
    cursor: pointer;   
}
.artist-arrow-right{
    position: absolute;
    top: 5%;
    right: 20px;
    font-size: 25px;
    padding: 0 12px;
    border-radius: 50%;
    color: #ffff;
    transition: all linear .3s;
     background-color:rgba(17, 17, 17, 0.726);
}
.artist-arrow-right:hover{
    cursor: pointer;
}
/* artist detail end */
/* artist part goes start */
.artist-main{
    position: relative;
}
.artistslid-arrow-left{
    position: absolute;
    top: 50%;
    left: -20px;
    font-size: 25px;
    padding: 0 12px;
    border-radius: 50%;
    color: #fff;
    transition: all linear .3s;
    background-color:rgba(17, 17, 17, 0.726);
}
.artistslid-arrow-left:hover{
    cursor: pointer;   
}
.artistslid-arrow-right{
    position: absolute;
    top: 50%;
    right: -15px;
    font-size: 25px;
    padding: 0 12px;
    border-radius: 50%;
    color: #ffff;
    transition: all linear .3s;
     background-color:rgba(17, 17, 17, 0.726);
}
.artistslid-arrow-right:hover{
    cursor: pointer;
}
/* artist part goes end */

/* event item start */
.double-item {
    background-color: rgb(100, 98, 98);
    max-height: 266px;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
}
.event-item-head h4{
    text-align: center;
    font-size: 12px;
    padding: 3px;
    border-radius: 15px;
    background-color:rgb(120, 224, 120);
}
.event-item-subhead{ 
    padding: 5px 0;
}
.white{
    background-color:#ffff;
    font-size: 16px;
    text-transform: uppercase;
}
.black{
    background-color: #222;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.event-sub-a { 
     padding-top: 3px;
}
.event-sub-a p{
    padding: 2px;
}
.fat{
    padding-left: 5px;
    font-weight: 700;
    font-size: 28px;  
    text-transform: uppercase;  
    color: black;
}
.thin{
    padding-left: 3px;
    font-size: 28px;
    font-weight: 200;
    text-transform: uppercase;
}
.event-item-a-img{
    height: 266px;
    text-align: center;
    width: auto;
    overflow: hidden;
    transition: all linear .3s;
}
.event-item-a-img:hover{
    padding-top: 8px;
}
.event-item-a-img img{
    height: 185px;
    overflow: hidden;
    max-width:max-content;
}
.img-pad{
    padding-right: 0!important;
}
.img-padd{
    padding-left: 0!important;
    padding-right: 0!important;
}
.img-padddd{
    padding-left: 0!important;
}


/* event item end */